body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}
section {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

heading {
    font-family: 'Lobster', cursive;
    font-size: larger;
    text-align:right;
     font-weight: 300;
     height:800;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('ink.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  opacity: 0.9;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}


.navbar{

 background-color: #44CAE8;
 text-align: center;
}

.navbar p {
font-size:17px;
font-weight: bold;

}


.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

jumbotron_text {
background-color: #ffffff;
color:#000000;
}

/*canvas {

    background: rgba(33, 255, 112, 0.79);
    margin-right: 0px;
    right: 3px;

}*/

articles_area  {
background: rgba(255, 255, 112, 0.79);

}

#comment_box  {
 background: #4FFF8D;;
}

.comment_section h4{
text-align: right;
font-weight: bold;
}

#articles_panel_heading {
    background: #4FFF8D;
    text-align: center;
    
}

#home {
text-align: left;
    
}


#logo_font{
font-family: 'Itim', cursive;
font-size: 100px;
}

#tagline {
font-family: 'Itim', cursive;
color: #05090E;
background: rgba(255, 255, 255, 0.49);
font-size: 50px;

}

.signup_font{
font-family: 'Itim', cursive;
font-size: 70px;
}


