body {
    font-family: sans-serif;
    margin-top: 30px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    margin: 0 auto;
    color: #3A2D2D;       
    padding-top: 35px;
    padding-left: 30;
    padding-right: 30;
}
    
hr {
    
    width:70%;
}